<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.payclip.clip_android_in_app_pos_payment_sdk"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="label" >
        <activity
            android:name=".KeyEnteredExampleActivity"
            android:label="@string/title_activity_key_entered_example" >
        </activity>
        <activity
            android:name=".SwipeExampleActivity"
            android:label="@string/title_activity_swipe_example" >
        </activity>
        <activity
            android:name=".EMVExampleActivity"
            android:label="@string/title_activity_emvexample" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
